.underline {
    position: relative;
    text-decoration: none;
}

.underline.active {
    color: #ce9b59;
}

.underline.active:before,
.underline.active:after {
    background-color: #ce9b59;
}

.underline:before,
.underline:after {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.underline:before {
    right: 50%;
}

.underline:after {
    left: 50%;
}

.underline:hover:before,
.underline:hover:after {
    width: 50%;
    opacity: 1;
}
