@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Josefin+Sans&display=swap');

* {
	box-sizing: border-box;
}

/* Backgrounds and positions of main stuff */
body {
    background: black;
    color: #eaeaea;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    cursor: url('../img/cursor/star.png') 12.5 0, auto;
}

body::before {
    content: '';
    background: #191919;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    filter: brightness(.5);
    z-index: -1;
}

/* Scrollbars */
body::-webkit-scrollbar {
    display: none;
}

#scrollwrap {
    overflow-y: scroll;
    height: -webkit-fill-available;
}

#scrollwrap::-webkit-scrollbar {
	width: 14px;
}

#scrollwrap::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	border: 3px solid transparent;
	background-clip: padding-box;
}

#scrollwrap::-webkit-scrollbar-track {
	background: transparent;
}

/* Global Classes */
.uc {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.hl {
    color: #ce9b59;
}

/* Main */
.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 20px 20px 18px;
}

.header .header-item {
    width: fit-content;
    height: fit-content;
    margin-right: 20px;
}

.header .header-item:last-of-type {
    margin-right: 0;
}

.header .header-item.fancy-logo-that-unai-didnt-give {
	font-weight: bold;
}

#logo {
    font-size: 30px;
    font-family: Cinzel Decorative;
    letter-spacing: -1px;
    padding-right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.size {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #ce9b59;
    border-width: 2px 0;
    border-style: solid;
    padding: 10px;
    font-size: 14px;
}

.size .size-select {
    padding: 3px 0 0 1px;
    position: relative;
    text-decoration: none;
}

.size .size-select:before,
.size .size-select:after {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.size .size-select:before {
    right: 50%;
}

.size .size-select:after {
    left: 50%;
}

.size .size-select:hover:after,
.size .size-select:hover:before {
    width: 50%;
    opacity: 1;
}

.separator {
    border-right: 1px solid #ce9b59;
    width: 1px;
    height: 18px;
    margin: 0 10px;
}

.radio-slideshow {
    height: 300px;
    background: rgba(255, 255, 255, 0.05);
}

.radio-slideshow > div {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.navigator {
    position: absolute;
    width: 7px;
    height: 7px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    top: 430px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.navigator::after,
.navigator::before {
	content: '';
	background-color: rgba(255, 255, 255, .4);
	width: 7px;
	height: 7px;
	position: absolute;
	border-radius: 50%;
}

.navigator::after {
	left: -15px;
}

.navigator::before {
	left: 15px;
}

.slideshow {
    height: 100%;
    width: 50%;
}

.slideshow .current {
	height: 100%;
    width: 100%;
    object-fit: cover;
}

.slideshow :not(.current) {
	display: none;
}

.gradient {
    position: absolute;
    left: 50%;
    transform: translateX(-100%);
    width: 200px;
    height: 300px;
    background: linear-gradient(to right, transparent 0%, #181818), linear-gradient(to right, transparent 0%, #181818);
}

.description {
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    width: 50%;
    height: 100%;
    display: flex;
    z-index: 1;
}

.description > div {
    margin: auto 50px;
    width: 100%;
}

.price {
    margin: 20px 0;
    font-size: 35px;
}

.price::after {
    content: '€';
}

button {
    font-family: inherit;
    font-size: 16px;
    background: transparent;
    color: white;
    border: 2px solid #ce9b59;
    padding: 10px 12px 8px;
    position: relative;
}

button {
    color: transparent;
    font-weight: bold;
}

button::before,
button::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 12px 8px;;
    transition: all 0.3s;
}

button::before {
    z-index: -1;
    color: #ce9b59;
}

button::after {
    z-index: 1;
    color: white;
    background-color: #ce9b59;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

button:hover::after {
    z-index: 1;
    color: white;
    background-color: #ce9b59;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

/* Debugging */
.header {
    /* border: 1px solid white; */
}